@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.dashboard-card:nth-child(1n) {
  background: linear-gradient(to top, #ecebecd7, #dfdddfd7);
}
.dashboard-card:nth-child(2n) {
  background: linear-gradient(to bottom, #ecebecd7, #dfdddfd7);
}
.dashboard-card:nth-child(3n) {
  background: linear-gradient(to bottom, #ecebecd7, #dfdddfd7);
}
.dashboard-card:nth-child(4n) {
  background: linear-gradient(to bottom, #ecebecd7, #dfdddfd7);
}
.recharts-legend-wrapper{
  /* display: none; */
  right: -60px !important;
  top:100px !important
}
.recharts-wrapper{
  margin: 0 0 -70px 0 !important;

}
